.contenedor{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url('../../images/background3.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../images/background3.jpg');
    background-size:cover;
    background-position:center;
    font-family: 'Roboto Mono', monospace, sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
}
.scores{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    }

.scores label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scores label img{
    margin: auto 3px;
    border: 0;
    width: 2rem;
    height: 2rem;
    }
.contenedor-data{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.contenedor-data ul{
    padding: 0;
    flex-direction: row;
    justify-content: left;
    width: 400px;
}
/* .contenedor-data li{
    display: inline;
    background-color: rgba(128, 128, 128, 0.411);
    height: 100%;
    width: max-content;
    margin-left: 10px;
} */
.contenedor-data img{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.contenedor-data label{
    font-size: 2rem;
    margin: 1rem auto;
}

.contenedor-data p{
    font-family: 'Roboto Mono', monospace, sans-serif;
    background-color: rgba(255, 255, 255, 0.082);
    padding: 5px;
    border: transparent;
    word-wrap: break-word;
    border-radius: 3px;
    margin: 0 20%;
    font-size: 1.5rem;
    font-weight: 400;
} 

.list{
    flex-direction: row;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}
.list-ING{
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    width: 100%;
    height: 10rem;
    text-align: center;
}

.list-ingrdients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.list-ingrdients label{
    font-size: 1rem;
    background-color: rgba(128, 128, 128, 0.411);
    width: 90%;
    height: 70%;
    padding: 2px;
    margin: 4px;
}

.list-ingrdients label.ingrdients{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.list ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 2rem;
    height: 100%;
}

.list li{
    background-color: rgba(128, 128, 128, 0.411);
    display: flex;
    flex-direction: row;
    width: max-content;
    text-align: center;
    justify-content: center;
    margin:10px;
    width: 100%;
    height: auto;
}

.first-data{
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content:space-between;
    margin-bottom: 10px;
    margin-left:20%;
    margin-right: 20%;
}
.first-data img{
    max-width: 556px;
}
.second-data{
    margin: 0 auto;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-data h1{
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.list h2{
    width: max-content;
}

.lists{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-around;
}

.loading{
    position: relative;
    justify-content: center;
    margin-left: 45%;
    margin-top: 10%;
}