
.section-meals{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    list-style-type: none;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

.pagination{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    width: 100%;
}


.page-numbers{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Roboto Mono', monospace, sans-serif;
    justify-content: center;
    margin-top: 1rem;
}

.page-numbers li{
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    color: white;
    border: transparent;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 2.5rem;
}

.page-numbers li:hover{
    cursor: pointer;
    background: rgba(255, 129, 71, 0.459);
}

.pageActive{
    background: rgba(255, 129, 71, 0.459);
}

.meals-showcase {
    display: flex;
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    max-width: 25%;
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 25%;
}

.section-meals li:hover{
    opacity: 1;
}
